<div>
    <h1>Chat en Vivo</h1>
    <h3>Chat</h3>
    <input type="email" id="chatBox">
    <p id="messageLogs"></p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>