<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input type="email" name="email">
        <br>
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
        </form>

        <p>¿No estás registrado? <a href="/register">Registrate aquí</a></p>
        <p>¿Olvidaste tu contraseña? <a href="/resetPassword">Restaurala aquí</a></p>
</div>

<script src="/js/login.js"></script>